.lg-font {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.drag-able {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  height: 100vh;
}

.drop-able div + div {
  margin-top: 0.5rem;
}

select {
  background-image: url('./assets/icon.svg');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 1rem;
}

.error-message {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  text-align: center;
}